.mycssbtn1.active {
  position: relative;
}
.event {
  position: absolute;
  top: 105%;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  color: brown;
  left: 0;
  background-color: antiquewhite;
  display: inline;
}
