body {
  justify-content: center;
  align-items: center;
  display: flex;
}
#root {
  max-width: 1250px;
  background-color: rgb(186, 204, 219);
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  margin-top: 25vh;
  border-radius: 10px;
}
